doctype html
html
    head
        script.
            const app = {};
            app.snapshotUrl = "#{snapshotUrl}";
            app.cameraId = "#{cameraId}";

        script(src="/dist/snapshot.js")
    body
        .container
            h1.title Camera #{cameraId}
            #navButtons
                p
                    button#cameraLeftUp \
                    button#cameraUp ^
                    button#cameraRightUp /
                p
                    button#cameraLeft <-
                    button#cameraHome H
                    button#cameraRight ->
                p
                    button#cameraLeftDown /
                    button#cameraDown v
                    button#cameraRightDown \
            canvas#imgCanvas(width="688px", height="384px")
            button#updatePresetsButton
                span.fas.fa-camera
                |  Update All
            #presets
            #gamepads

