doctype html
html
    head
    body
        h1 Camera 1
        p Stream uri: #{streamUri}
        video(id="video", src=streamUri, width=300, height=100, autoplay=true)
             | Video not supported
